.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .Movie_card {
    animation: App-logo-spin infinite 20s linear;
  }
} 


 @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* bouton add film */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
   
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #050801;
    font-family: 'Raleway', sans-serif;
}  */

.film-btn{
 margin-right: 999px;
  padding: 25px 30px;
  background-color: #050801;
  color: #03e9f4;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.film-btn:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
/* bouton add film */
/*forn add film*/
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
.center {
  margin-left: 300px;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
  justify-content: center;
  width: 800px;
  background: linear-gradient(45deg, greenyellow, dodgerblue);
  font-family: "Sansita Swashed", cursive;
 
  
  
}
.center h1 {
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 8px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 20px;
  font-weight: bold;
  padding-left: 10px;
}
.center .inputbox {
  position:relative;
  width: 300px;
  height: 30px;
  margin-bottom: 25px;
  margin-left: 200px;
 
}
.center .inputbox input {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
 
}
.center .inputbox:last-child {
  margin-bottom: 0;
  margin-left: 200px;
}

.center .inputbox [type="button"] {
  width: 50%;
  background: rgb(255, 30, 49);
  color: #fff;
  border: #fff;

}
.center .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}
/*movie card*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: #1d2227;
	font-family: "Roboto", sans-serif;
	display: flex;
	height: 100vh;
  
}

.hero-container {
	
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
  }

.main-container {
	width: 400px;
	height: 600px;
  }

.ticket-container {
	  background: #fff;
	text-align: center;
	align-items: center;
	border-radius: 5px;
   }

 .ticket-container {
	opacity: 1;
}
.cover-imagde{
   border-radius: 10px;
  width: 350px;
  height: 300px;
  }
